body{
	height:100%;
}
html{
	height:100%;
}
#back{
	max-width:120px;
  text-transform: uppercase;
  border-style:none;
  margin-top:10px;
  list-style-type:none;
	margin:0;
	background-color:black;
  padding:25px 23px 20px 30px;
	text-decoration: none;
}

#frame{
	height:100%;
	background-color:teal;
	position:relative;
}
#zone{
	margin:0;
	position:absolute;
	top:50%;
	left:40%;
}
#submit{
	position:absolute;
	text-decoration:none;
	background-color:green;
	top:65%;
	left:47%;
}
